html{
    background-color: black;
}
#gameLogo{
    height:100%;
}
#Header{
    height:100px;
}
#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navList {
    float: left;
}

#navList a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#relevantMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #333;
    float:left;
    height:700px;
    position: absolute;
    top:147px;
    left:0;
}

#relevantList {
    text-align: center;
    border-bottom: 1px solid #555;
    
    
}
#relevantList a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
#gameDesc{
    color:white;
}

#content {
    float:right;
}
#gameImage{
    width: 90%;
    height: 30%;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: bicubic;
}

