html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    font-family: sans-serif;
    background: #993;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
    position: relative
}

#header {
    height: 50px;
}
#header-content {
    height: 50px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 0px;
}
#content {
    height: auto;
    padding: 30px;
    align-content: center;
}

#relevantMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #333;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0px;
    height: 110%;
}

#relevantList a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    margin: 0px 0px;
    padding: 14px 16px;
    text-decoration: none;
    
}
#relevantList a.active {
    background-color: #4CAF50;
    color: white;
}

#relevantList a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#main {
    margin-left: 205px;
    float: left;
    position: absolute;
    overflow: hidden;
    width: auto;
    height: auto;
    margin-right: 150px; 
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 50px;
}

#navList {
    float: left;
}

#navList a {
    display: block;
    color: white;
    text-align: center;
    margin: 0px 0px;
    padding: 14px 16px;
    text-decoration: none;
}

#navList a:hover:not(.active) {
    background-color: #111;
}

#gameLogo {
    height: 100px;
    width: 300px;
}

.container {
    width:800px;
    height:450px;
    position:relative;
    overflow:hidden;
    align-self: center;
    align-content: center;
  }
  
  .css-carousel {
    width:500%;
    -webkit-animation: css-carousel 20s linear infinite;
    -moz-animation: css-carousel 20s linear infinite;
    -ms-animation: css-carousel 20s linear infinite;
    animation: css-carousel 20s linear infinite;
    align-self: center;
  }
  
  .css-carousel .css-img{
    display:inline-block;
    height: 450px;
    width: 800px;
  }
  .css-carousel img:not(:first-child){
    float:left;
  }
  
  @-webkit-keyframes css-carousel {
    0%, 23% {margin-left:0}
    25%, 48% { margin-left:-100%; }
    50%, 73% { margin-left:-200%; }
    75%, 98% { margin-left:-300%;}
    100% { margin-left:0;}
      
  }
  @-moz-keyframes css-carousel {
    0%, 23% {margin-left:0}
    25%, 48% { margin-left:-100%; }
    50%, 73% { margin-left:-200%; }
    75%, 98% { margin-left:-300%;}
    100% { margin-left:0;}
  }
  @-ms-keyframes css-carousel {
    0%, 23% {margin-left:0}
    25%, 48% { margin-left:-100%; }
    50%, 73% { margin-left:-200%; }
    75%, 98% { margin-left:-300%;}
    100% { margin-left:0;}
  }
  @keyframes css-carousel {
    0%, 23% {margin-left:0}
    25%, 48% { margin-left:-100%; }
    50%, 73% { margin-left:-200%; }
    75%, 98% { margin-left:-300%;}
    100% { margin-left:0;}
  }

  .rainbow {
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 1s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 1s infinite;
   
   /* Standar Syntax */
   animation: rainbow 1s infinite; 
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 }
 /* Internet Explorer */
 @-ms-keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     20%{color: red;}
     40%{color: yellow;}
     60%{color: green;}
     80%{color: blue;}
     100%{color: orange;}	
 }

 .fidgetSpinner {
    float: left;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;}

    @-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }
}