html{
    background-color: black;
    color: white;
    border:0;
    padding:0;
    margin:0;
}
body{
    margin: 0px; 
}

#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navList {
    float: left;
}

#navList a {
    float: left;
}

#relevantMenu {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100vh;
    background-color: #333;
    float: left;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#relevantList {
    flex-grow: 1;
    text-align: center;
    border-bottom: 1px solid #555;
    
}
#relevantList a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}